<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Servlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.hand.httpServlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckServlet</servlet-name>
    <servlet-class>com.hand.service.CheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckServlet</servlet-name>
    <url-pattern>/CheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet03</servlet-name>
    <servlet-class>com.hand.service.LoginServlet03</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet03</servlet-name>
    <url-pattern>/LoginServlet03</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginOut03</servlet-name>
    <servlet-class>com.hand.service.LoginOut03</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginOut03</servlet-name>
    <url-pattern>/LoginOut03</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>AddFilmServlet</servlet-name>
    <servlet-class>com.hand.filmServlet.AddFilmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFilmServlet</servlet-name>
    <url-pattern>/AddFilmServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ShowFilmServlet</servlet-name>
    <servlet-class>com.hand.filmServlet.ShowFilmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowFilmServlet</servlet-name>
    <url-pattern>/ShowFilmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DelFilmServlet</servlet-name>
    <servlet-class>com.hand.filmServlet.DelFilmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelFilmServlet</servlet-name>
    <url-pattern>/DelFilmServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>EdiFilmServlet</servlet-name>
    <servlet-class>com.hand.filmServlet.EdiFilmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EdiFilmServlet</servlet-name>
    <url-pattern>/EdiFilmServlet</url-pattern>
  </servlet-mapping>
  
</web-app>